<script src="https://giscus.app/client.js"
        data-repo="faif/sakisk.me"
        data-repo-id="R_kgDONabZoQ"
        data-category="Articles"
        data-category-id="DIC_kwDONabZoc4ClhH0"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
